/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* Add dotted underline effect */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #5A698F;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: 50%;
    margin-left: -40px;
    /* Use half of the width to center the tooltip */
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Tooltip pointer */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Position at the bottom of the tooltip */
    left: 50%;
    margin-left: -8px;
    /* Adjust pointer position */
    border-width: 8px;
    /* Increase the size of the triangle */
    border-style: solid;
    border-color: #5A698F transparent transparent transparent;
}

@media only screen and (max-width: 1024px) {

    
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 80px;
        background-color: #5A698F;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: -130%;
        left: 50%;
        margin-left: -40px;
        /* Use half of the width to center the tooltip */
    }
    
    /* Show the tooltip text when hovering over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    
    /* Tooltip pointer */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: -40%; /* Position at the top of the tooltip */
        left: 50%;
        margin-left: -8px; /* Adjust pointer position */
        border-width: 8px;
        /* Increase the size of the triangle */
        border-style: solid;
        border-color: transparent transparent #5A698F transparent; /* Adjust the border color */
      }
      
      

}