@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

   
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

   
    .no-scrollbar {
        -ms-overflow-style: none;
       
        scrollbar-width: none;
       
    }

   

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-text-fill-color: #BDBDBD;
            -webkit-box-shadow: 0 0 0 30px #161D2F inset !important;
        }
    
}

*{
    font-family: "Outfit", sans-serif;
    
}

body{
    background-color: #10141E;
}